<!DOCTYPE html>
<html lang="ES" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Error</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <link type="text/css" rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
    	<h1>Hubo un error</h1>
    	<a th:href="@{/socio/listarSocios}">Volver al listado de socios</a>
    </body>
</html>