<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="act-dep-cul-soc.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald|Ubuntu">
    
    <title>CAZO</title>
    <link rel="icon" type="image/png" href="img/cazo.png">
</head>

<body>
    <nav>
        <ul class="menu">
            <li class="logo"><a href="../index-int/index-int.html"><img src="img/cazo.png" width="70px" alt="escudo-cazo"></a></li>
            <li class="item"><a href="../index-int/index-int.html">Inicio</a></li>
            <li class="item"><a href="../act-dep-cul-soc/act-dep-cul-soc.html">Actividades</a></li>
            <li class="item"><a href="../mi-perfil/mi-perfil.html">Mi perfil</a></li>
            <li class="item"><a href="../reservas/reservas.html">Mis reservas</a></li>
            <li class="item button"><a href="../index-ext/index-ext.html">Cerrar sesión</a></li>
            <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
        </ul>
    </nav>

    <main>

        <div class="row">
            <div class="act-d-c-s">
                <a href="../act-dep/act-dep.html">
                    <h1 class="title-act">Deportivas</h1>
                    <div id="img-container">
                        <img id="img-act" src="img/deporte.png" alt="social">
                    </div>
                </a>
            </div>
            <div class="act-d-c-s">
                <a href="../act-cul/act-cul.html">
                    <h1 class="title-act">Culturales</h1>
                    <div id="img-container">
                        <img id="img-act" src="img/cultura.png" alt="social">
                    </div>
                </a>
            </div>
            <div class="act-d-c-s">
                <a href="../act-soc/act-soc.html">
                    <h1 class="title-act">Sociales</h1>
                    <div id="img-container">
                        <img id="img-act" src="img/social.png" alt="social">
                    </div>
                </a>
            </div>
        </div>

    </main>

    <footer>
        <img src="img/cazo.png" alt="escudo-cazo" width="150px" class="logo">
        <p class="copyright">&copy Copyright CAZO - 2022</p>
    </footer>

    <script defer src="act-dep-cul-soc.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>

</html>